.upraised-button{
    background: #FF3B3F;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 100px;
    width: 100%;
    font-weight: 900;
    font-size: 1.2rem;
    position: relative;
}

.upraised-button .right-icon{
    width: 1rem;
    position: absolute;
    right: 2rem;
}

.upraised-button.disabled{
    background-color: #999;
    pointer-events: none;
}

.upraised-button.loading{
    pointer-events: none;
}

.loader{
    border: 4px solid #f3f3f3;
    border-top: 4px solid #FF3B3F;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    animation: spin 1s linear infinite;
    position: absolute;
    left: 1rem;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
