.outer-circle {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    background: linear-gradient(270deg, #44B77B 0%, #FFD033 47.9%, #FF3B3F 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hidding-box{
    height: 7.5rem;
    width: 15rem;
    background-color: #fff;
    position: absolute;
    top: 50%;
    position: absolute;
    z-index: 2;
}
.inner-circle{
    height: 14rem;
    width: 14rem;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2.5rem solid #EBEDF5;
    border-bottom: 2.5rem solid #fff;
    position: relative;
    z-index: 3;
}

.third-circle{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #EBEDF5;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    position: absolute;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 7rem solid #000;
    position: absolute;
    bottom: 50%;
    rotate: -90deg;
    transform-origin: bottom center;
    z-index: 3;
    position: absolute;
}

.score-text{
    font-family: Nunito;
    font-weight: 900;
    font-size: 2rem;
    z-index: 5;
    position: absolute;
}

